:root{
    --clr-background:hsl(222, 26%, 31%);
    --clr-background-screen:hsl(224, 36%, 15%);
    --clr-background-teclado:hsl(223, 31%, 20%);
    --clr-btn:hsl(225, 21%, 49%);
    --clr-btn-shadow:hsl(224, 28%, 35%);
    --clr-btn-toogle:hsl(6, 63%, 50%);
    --clr-btn-shadow-toogle: hsl(6, 70%, 34%);
    --clr-tecla:hsl(30, 25%, 89%);
    --clr-tecla-shadow: hsl(28, 16%, 65%);;
    

    --clr-text-number:hsl(221, 14%, 31%);
    --clr-text-command:hsl(0, 0%, 100%);
    --clr-text-screnn:hsl(0, 0%, 100%);
  

    --fz-tecla:1rem;
    --fz-nomal:.7rem;
    --fz-span:.4rem;
 
}
html{
    font-size: 32px;
}
*{
    box-sizing: border-box;
}
body{
    font-weight: 700;
    font-family: 'Spartan', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--clr-background);
}

body.thema-1{
    --clr-background:hsl(222, 26%, 31%);
    --clr-background-screen:hsl(224, 36%, 15%);
    --clr-background-teclado:hsl(223, 31%, 20%);
    --clr-btn:hsl(225, 21%, 49%);
    --clr-btn-shadow:hsl(224, 28%, 35%);
    --clr-btn-toogle:hsl(6, 63%, 50%);
    --clr-btn-shadow-toogle: hsl(6, 70%, 34%);
    --clr-tecla:hsl(30, 25%, 89%);
    --clr-tecla-shadow: hsl(28, 16%, 65%);;
    

    --clr-text-number:hsl(221, 14%, 31%);
    --clr-text-command:hsl(0, 0%, 100%);
    --clr-text-screnn:hsl(0, 0%, 100%);
    transition: all 1s;
  
}

body.thema-2{
    --clr-background:hsl(0, 0%, 90%);
    --clr-background-screen:hsl(0, 0%, 93%);
    --clr-background-teclado:hsl(0, 5%, 81%);
    --clr-btn:hsl(185, 42%, 37%);
    --clr-btn-shadow: hsl(185, 58%, 25%);
    --clr-btn-toogle:hsl(25, 98%, 40%);
    --clr-btn-shadow-toogle: hsl(25, 99%, 27%);
    --clr-tecla:hsl(45, 7%, 89%);
    --clr-tecla-shadow: hsl(35, 11%, 61%);
    

    --clr-text-number:hsl(221, 14%, 31%);
    --clr-text-command:hsl(0, 0, 100%)
    ;
    --clr-text-screnn:hsl(60, 10%, 19%);
    transition: all 1s;
  
}

body.thema-3{
    --clr-background:hsl(268, 75%, 9%);
    --clr-background-screen:hsl(268, 71%, 12%);
    --clr-background-teclado:hsl(268, 71%, 12%);
    --clr-btn:hsl(281, 89%, 26%);
    --clr-btn-shadow:hsl(285, 91%, 52%);
    --clr-btn-toogle:hsl(176, 100%, 44%);
    --clr-btn-shadow-toogle: hsl(177, 92%, 70%);
    --clr-tecla:hsl(268, 47%, 21%);
    --clr-tecla-shadow: hsl(290, 70%, 36%);
    

    --clr-text-number:hsl(52, 100%, 62%);
    --clr-text-command:hsl(0, 0%, 100%);
    --clr-text-screnn:hsl(52, 100%, 62%);
    transition: all 2s;
}


.main{
    max-width: minmax(20%,30%);
    font-size: var(--fz-nomal);
    color: var(--clr-text-screnn);
 
}
.screen > div{
    display: flex;
    justify-content: space-between;
}
.themes{
    font-size: var(--fz-span);
    display: grid;
    grid-template-columns: repeat(4,.5fr);
    grid-template-rows: repeat(2,1fr);
}
.themes > span{

    grid-column: 1 /2;
    grid-row: span 2;
    margin-right: 10px;
    align-self: end;
}
span ~ label {
   
    justify-self: center;
}
[type="radio"]{
    visibility: hidden;
    
}

[type="radio"]:checked + span{
    background-color: var(--clr-btn-toogle);
    width: 100%;
    height: 100%;
    border-radius: 100%;
    position: relative;
    right: 9px;
    transition: all .5s;
    

}

span ~ div {
     grid-column: span 3;
    background-color: var(--clr-background-teclado);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 5px;

}
.calc{
    align-self: flex-end;
}

.screen__text [type="text"]{
    background-color: var(--clr-background-screen);
    display: block;
    width: 100%;
    margin-top: 20px;
    margin-bottom:10px ;
    border-radius: 5px;
    font-size: var(--fz-tecla);
    outline: none;
    border-style: none;
    padding: .5em;
    color: var(--clr-text-screnn);
}

[type="text"]:focus{
  outline:none;
}

.teclado{
    background-color: var(--clr-background-teclado);
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4,.3fr);
    grid-template-rows: repeat(5,1fr);
    gap: 20px;
    grid-template-areas: 
                        "tecla-7 tecla-8 tecla-9 tecla-del"
                        "tecla-4 tecla-5 tecla-6 tecla-suma"
                        "tecla-1 tecla-2 tecla-3 tecla-resta"
                        "tecla-punto tecla-0 tecla-division tecla-multiplicacion"
                        "tecla-reset tecla-reset tecla-igual tecla-igual"

    ;
}
.tecla-7{
    grid-area: tecla-7;
}
.tecla-8{
    grid-area: tecla-8;
}
.tecla-9{
    grid-area: tecla-9;
}
.tecla-del{
    grid-area: tecla-del;
}
.tecla-4{
    grid-area: tecla-4;
}
.tecla-5{
    grid-area: tecla-5;
}
.tecla-6{
    grid-area: tecla-6;
}
.tecla-suma{
    grid-area: tecla-suma;
}
.tecla-1{
    grid-area: tecla-1;
}
.tecla-2{
    grid-area: tecla-2;
}
.tecla-3{
    grid-area: tecla-3;
}
.tecla-resta{
    grid-area: tecla-resta;
}
.tecla-punto{
    grid-area: tecla-punto;
}
.tecla-0{
    grid-area: tecla-0;
}
.tecla-division{
    grid-area: tecla-division;
}
.tecla-multipli{
    grid-area: tecla-multiplicacion;
}
.tecla-reset{
    grid-area: tecla-reset;
}
.tecla-igual{
    grid-area: tecla-igual;
}
.tecla{
    font-size:var(--fz-tecla);
    border: none;
    border-radius: 5px;
    color: var(--clr-text-number);
    background-color: var(--clr-tecla);
    box-shadow: 0 4px var(--clr-tecla-shadow);
    cursor: pointer;
}


.tecla:active{
    opacity: .7;
    
}

.tecla-command{
    font-size: .4rem;
    font-family: 'Spartan', sans-serif;
}

.tecla-del,.tecla-reset {
    background-color: var(--clr-btn);
    box-shadow: 0 4px var(--clr-btn-shadow);
}

.tecla-igual{
    background-color: var(--clr-btn-toogle);
    box-shadow: 0 4px var(--clr-btn-shadow-toogle);
}

.tecla-del,.tecla-reset, .tecla-igual{
    color: var(--clr-text-command);
}